<h1>Hello from INDEX action</h1>
<p>Find me in app/views/admin/categories/index.html.erb</p>

<table class="table">
  <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.id %></td>
        <td><%= category.name %></td>
        <td><%= category.description %></td>
        <td>
          <%= link_to 'Show', admin_category_path(category) %>
          <%= link_to 'Edit', edit_admin_category_path(category) %>
          <%= button_to 'Destroy', admin_category_path(category), method: :delete %>
        </td>
      </tr>
    <% end%>
  </tbody>
</table>
