<h1>Hello from SHOW Action of PRODUCTS_Controller!</h1>
<p>Show action will help us show the information of selected product:</p>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Category</th>
      <th>Description</th>
      <th>Stock</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @product.id %></td>
      <td><%= @product.name %></td>
      <td><%= @product.cat_product %></td>
      <td><%= @product.description %></td>
      <td><%= @product.stock %></td>
      <td><%= @product.price %></td>
    </tr>
  </tbody>
</table>
<br/>
<%=link_to 'Back', products_path %>